body {
    background-image: url('../img/bg_start_screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 150px;
    border-bottom: 3px solid rgb(251, 226, 76);
}

#game {
    display: flex;
    justify-content: center;
}

#canvas {
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.8);
    display: none;
}

.start-screen, .end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-screen {
    margin-top: 400px;
}

.end-screen {
    margin-top: 150px;
}

.end-screen {
    display: none;
}

.start-screen h1 {
    color: rgb(251, 226, 76);
    text-shadow: 3px 3px rgb(120, 126, 183);
    margin-bottom: 70px;
    animation: fadeinout ease-in 4s infinite;
}

@keyframes fadeinout {
    0%   {opacity: 0.2;}
    50%  {opacity: 1; transform: scale(1.05);}
    100% {opacity: 0.2;}
}

.start-screen h4 {
    color: rgb(251, 226, 76);
    text-shadow: 2px 2px rgb(120, 126, 183);
    margin: 5px;
}

.btn {
    margin: 50px;
    background-color: rgb(51, 122, 141);
    color: #fff;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 90px;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover {
    background-color: rgb(251, 226, 76);
    color: #000;
}